{
    "presets": [["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 8"]
      }
    }],"react"],

    "plugins": ["lodash", "transform-class-properties", "transform-object-rest-spread"]
}
